$main-color: #33adff;
$swap-color: #f4a261;
$opague-main-color: rgba(76,156,223,0.1);
$bg-color: #eee;
$text-color: #46535e;
$text-color-light: #fff;

$font-stack: 'Roboto';

$border: 1px solid #e5e7e8;

$t-time: 300ms;